/* global color variables */
:root {
    --main-color: ivory;
    --secondary-color: black;
    --tertiary-color: crimson;
}
/* header, div, and body styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    background: linear-gradient(to bottom, var(--main-color), var(--tertiary-color));

}
div {
    display: grid;
    place-items: center;
  }
.header {
    text-align: center;
    letter-spacing: .10em;
}
h1 {
    text-transform: uppercase;
}
/* paragraph styling */
p {
    font-style: italic;
}
/* input button styling */
input {
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 15px 32px;
    text-align: center;
    border-width: 5px;
    border-color: var(--tertiary-color);
}
/* input button styling for hover effect*/
input:hover {
    background-color: var(--tertiary-color);
    border-color: var(--secondary-color);
    color: var(--main-color);
}
/* image styling for calculator image*/
img {
    display: block;
    margin: auto;
    padding: 2.75em;
}